.media {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    background-color: var(--azul-oscuro);
    border-radius: 10px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 1px 5px black;
}

.media:hover {
    background-color: var(--naranja);
    color: black;
}

.media:hover .myList_button {
    box-shadow: inset 0px 39px 0px -24px var(--azul-claro);
    background-color: var(--azul-medio);
}

.media:hover .subtitle {
    font-weight: bold;
}

.poster {
    border-radius: 10px;
    height: 300px;
}

.title {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
}

.myList_button {
    width: 100%;
    margin: 10px 0px;
    box-shadow: inset 0px 39px 0px -24px #ff5e42;
    background-color: var(--naranja);
    border-radius: 4px;
    border: 1px solid var(--naranja);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
}

.myList_button:hover {
    box-shadow: inset 0px 39px 0px -24px var(--azul-medio)!important;
    background-color: var(--azul-oscuro)!important;
}

.myList_button:active {
    position: relative;
    top: 1px;
}

.subtitle {
    display: flex;
    justify-content: space-between;
    padding: 0 2px 3px 2px;
    margin-top: auto;
}

@media (max-width:550px) {
    .media {
        width: 46%;
    }
    .poster {
        height: 250px;
    }
    .title {
        font-size: 16px;
    }
    .myList_button {
        font-size: smaller;
    }
    .subtitle {
        font-size: 14px;
    }
}