.header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--azul-medio);
    font-family: "Montserrat", sans-serif;
    font-size: 4vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px black;
    color: white;
    z-index: 100;
}

.header span {
    cursor: pointer;
    margin-left: 70px;
}

.myList_button {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    font-size: 20px;
}

.flags {
    margin-right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flags button {
    border: none;
    cursor: pointer;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    width: 50px;
    margin-left: 10px;
}

.flags button img {
    width: 100%;
}

@media (max-width: 1000px) {
    .header {
        padding-top: 15px;
        font-size: 6.4vw;
    }
    .header span {
        margin-left: 5px;
    }
    .myList_button {
        font-size: 14px;
    }
    .flags {
        margin-right: 5px;
    }
    .flags button {
        width: 35px;
        margin-left: 5px;
    }
}