.error404_container {
    text-align: center;
}

.error404_img {
    width: 20%;
}

.error404_button {
    margin-top: 20px!important;
    box-shadow: 0px 6px 14px -7px black;
    background-color: var(--naranja)!important;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff!important;
    font-size: 15px!important;
    font-weight: bold!important;
    padding: 13px 32px;
    text-decoration: none;
}

.error404_button:hover {
    background-color: var(--azul-oscuro)!important;
}

.error404_button:active {
    position: relative;
    top: 1px;
}

@media (max-width: 800px) {
    .error404_img {
        margin-top: 60px;
        width: 50%;
    }
}