:root {
    --main-color: #39445a;
}

.App {
    min-height: 100vh;
    background-color: var(--main-color);
    color: white;
    padding-top: 130px;
    padding-bottom: 70px;
}

@media screen and (max-width:700px) {
    .App {
        padding-top: 70px;
    }
}